{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <h1>Inscription</h1>
 
    
  

    {{ form_start(registrationForm) }}
        <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
         <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.nom) }}
            {{ form_widget(registrationForm.nom) }}
        </div>
         <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.prenom) }}
            {{ form_widget(registrationForm.prenom) }}
        </div>
         <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.adresse) }}
            {{ form_widget(registrationForm.adresse) }}
        </div>
         <div>
             <i class="fa fa-calendar"></i> {{ form_label(registrationForm.datedenaissance, 'Date de Naissance') }}
            {{ form_widget(registrationForm.datedenaissance) }}
        </div>
        <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.numeropermisconduire, 'Numéro de permis de conduire') }}
            {{ form_widget(registrationForm.numeropermisconduire) }}
        </div>
        <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.telephone, 'Téléphone') }}
            {{ form_widget(registrationForm.telephone) }}
        </div>
        <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        <div>
            <i class="fa fa-calendar"></i> {{ form_label(registrationForm.agreeTerms, 'Accepter les termes') }}
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
